@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-body: "Poppins", sans-serif;
  --font-decorative: "Dancing Script", cursive;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Mulish", sans-serif;

  --color-primary: #7c6a46;
  --color-light: #ffffff;
  --color-secondary: #fafafa;
  --color-tertiary: #ffac98;
  --color-shade: #b0b0b0;
}
body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--font-secondary);
}
h2,
h3 {
  font-family: var(--font-primary);
}

/* Background colors */
.bg-color-primary {
  background-color: var(--color-primary);
}
.bg-color-secondary {
  background-color: var(--color-secondary);
}
.bg-color-tertiary {
  background-color: var(--color-tertiary);
}
.bg-color-light {
  background-color: var(--color-light);
}
.bg-color-shade {
  background-color: var(--color-shade);
}

/* Text Color */

.color-light {
  color: var(--color-light);
}
.color-primary {
  color: var(--color-primary);
}
.color-tertiary {
  color: var(--color-tertiary);
}
.color-primary {
  color: var(--color-primary);
}

/* Font styles */
.font-decorative {
  font-family: var(--font-decorative);
}
.font-secondary {
  font-family: var(--font-secondary);
}
.font-primary {
  font-family: var(--font-primary);
}
.font-body {
  font-family: var(--font-body);
}
